/* all */
* {
  font-family: "DotGothic16", sans-serif;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* ← スクロール禁止 */
}

.game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.back {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/wave.png");
  image-rendering: pixelated;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.back-beach {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/beach.png");
  image-rendering: pixelated;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.back-sea {
  top: 0px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/sea.png");
  image-rendering: pixelated;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.visual {
  position: relative;
  width: 100%;
  height: 100vh;
}

.movie {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.movie video {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%) scaleX(-1);
}

.triangle {
  image-rendering: pixelated;
  transform: translateY(-10px);
  width: 57px;
}

.triangle:hover {
  filter: brightness(2);
}

.triangle:active {
  filter: brightness(0) invert(1);
}

/* Title */

.title-title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: black;
}

.title-logo {
  image-rendering: pixelated;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

.title-start-button {
  image-rendering: pixelated;
  position: absolute;
  top: 70%;
  left: 50%;
  width: 300px;
  height: 100px;
  background-image: url("../assets/button_Blue_1.png");
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  transform: translate(-50%, -50%);
  font-size: 50px;
  padding-bottom: 8px;
  color: rgb(255, 255, 255);
  /* 文字の色 */
}

.title-start-button:hover {
  background-image: url("../assets/button_Blue_2.png");
}

.title-start-button:active {
  background-image: url("../assets/button_Blue_3.png");
}

.delete-button-wrapper {
  width: 100;
}

.delete {
  image-rendering: pixelated;
  position: absolute;
  top: 88%;
  left: 85%;
  background-image: url("../assets/button_delete_1.png");
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  transform: translate(-50%, -50%);
  width: 168px;
  height: 24px;
  font-size: 15px;
  padding-bottom: 4px;
  color: rgb(0, 0, 0);
}

.delete:hover {
  background-image: url("../assets/button_delete_2.png");
}

.suka {
  position: absolute;
  top: 95%;
  left: 85%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: black;
}

.line {
  position: absolute;
  background-color: #525252; /* 灰色 */
}

.line.active {
  background-color: white;
}

/* 横線 */
.line-horizontal {
  width: 200px;
  height: 4px;
  transform: translate(0%, -50%);
}

/* 縦線 */
.line-vertical {
  width: 4px;
  height: 200px;
  transform: translate(-50%, 0%);
}

.grid {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.63);
}

.cell {
  position: absolute;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}
.arrow {
  transition: all 0.3s ease;
}

.cell {
  display: inline-block;
  position: absolute;
}
.arrow.human {
  image-rendering: pixelated;
  width: 35px;
  filter: brightness(2);

  animation: neon-glow-clear 1.5s infinite alternate;
}

/* 光る */
.arrow.clear {
  image-rendering: pixelated;
  width: 50px;
  filter: brightness(2);

  animation: neon-glow-clear 1.5s infinite alternate;
}

@keyframes neon-glow-clear {
  0% {
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.8))
      drop-shadow(0 0 2px rgba(255, 255, 255, 0.8));
  }
  50% {
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.8))
      drop-shadow(0 0 4px rgba(255, 255, 255, 0.8));
  }
  100% {
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.8))
      drop-shadow(0 0 2px rgba(255, 255, 255, 0.8));
  }
}
/* 通常 */
.arrow.normal {
  image-rendering: pixelated;
  width: 50px;
  filter: grayscale(100%) brightness(0.3) drop-shadow(0 0 0px white)
    drop-shadow(0 0 2px white);

  animation: neon-glow 1.5s infinite alternate;
}

@keyframes neon-glow {
  0% {
    filter: grayscale(100%) brightness(0.3)
      drop-shadow(0 0 2px rgba(255, 255, 255, 0.3))
      drop-shadow(0 0 2px rgba(255, 255, 255, 0.3));
  }
  50% {
    filter: grayscale(100%) brightness(0.7)
      drop-shadow(0 0 4px rgba(255, 255, 255, 0.3))
      drop-shadow(0 0 4px rgba(255, 255, 255, 0.3));
  }
  100% {
    filter: grayscale(100%) brightness(0.3)
      drop-shadow(0 0 2px rgba(255, 255, 255, 0.3))
      drop-shadow(0 0 2px rgba(255, 255, 255, 0.3));
  }
}

/* 灰色 */
.arrow.disabled {
  image-rendering: pixelated;
  width: 50px;
  filter: grayscale(100%) brightness(0.3);
}

.label {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(0, 0);

  opacity: 0;
  transition: 0.2s;
  border-radius: 0;

  background: rgba(11, 65, 14, 0.559);
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  padding: 4px 8px;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
}
.lab {
  top: -20px;
}
.label .title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
  color: rgb(255, 171, 165); /* 任意 */
}

.label .desc {
  font-size: 12px;
}

/* ホバーで表示 */
.cell:hover .label {
  opacity: 1;
  transform: translate(0, -4px);
}

/* Setup */

.setup1 {
  position: absolute;
  gap: 20px;
  display: flex;
  top: 20%;
  left: 50%;
  width: 100vw;
  display: flex;
  justify-content: center;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: black;
}

.setup2 {
  position: absolute;
  gap: 20px;
  display: flex;
  top: 40%;
  left: 50%;
  width: 100vw;
  display: flex;
  justify-content: center;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: black;
}

.setup3 {
  position: absolute;
  gap: 20px;
  display: flex;
  top: 60%;
  left: 50%;
  width: 100vw;
  display: flex;
  justify-content: center;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: black;
}

.setup-text {
  width: 340px;
  text-align: center;
}

.back-button {
  image-rendering: pixelated;
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: url("../assets/button_back_1.png");
  background-size: cover;
  background-position: center;
  background-color: transparent;
  /* ボタンの色 */
  border: none;
  font-size: 25px;
  width: 100px;
  height: 50px;
  padding-bottom: 5px;
  color: rgb(0, 0, 0);
  /* 文字の色 */
}

.back-button:hover {
  background-image: url("../assets/button_back_2.png");
}

.back-button:active {
  background-image: url("../assets/button_back_2.png");
  /* 押した瞬間の色 */
}

.setup-start-button {
  image-rendering: pixelated;
  position: absolute;
  top: 80%;
  left: 50%;
  width: 270px;
  height: 90px;
  background-image: url("../assets/button_Blue_1.png");
  background-size: cover;
  background-position: center;
  background-color: transparent;
  /* ボタンの色 */
  border: none;
  /* 縁の色 */
  transform: translate(-50%, -50%);
  font-size: 40px;
  padding-bottom: 8px;
  color: rgb(255, 255, 255);
  /* 文字の色 */
}

.setup-start-button:hover {
  background-image: url("../assets/button_Blue_2.png");
}

.setup-start-button:active {
  background-image: url("../assets/button_Blue_3.png");
}

/* SetChara */
.set-chara-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: black;
}

.chara-content {
  position: absolute;
  gap: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.chara-packet-content {
  gap: 50px;
  display: flex;
  flex-direction: column;
  color: black;
}

.iplayer {
  font-size: 30px;
}

.chara-packet {
  gap: 50px;
  align-items: center;
  display: flex;
  color: black;
}

.image {
  image-rendering: pixelated;
  width: 63px;
  height: auto;
}

/* Play */

.menu-button {
  position: absolute;
  image-rendering: pixelated;
  top: 20px;
  left: 20px;
  width: 60px;
  height: auto;
  z-index: 101;
}

.arroww {
  image-rendering: pixelated;
  width: 100px;
}

/* 背景オーバーレイ */
.overlay {
  position: fixed;
  inset: 0;
  /* top:0; right:0; bottom:0; left:0 と同じ */
  background: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  /* 横方向中央 */
  align-items: center;
  /* 縦方向中央 */

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 101;
}

.overlay.open {
  opacity: 1;
  pointer-events: auto;
}

/* 画像＋ボタンのラッパー */
.menuWrapper {
  position: relative;
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.3s ease;
  transform-origin: center;
}

/* 開いたら中央で拡大 */
.overlay.open .menuWrapper {
  transform: scale(1);
  opacity: 1;
}

/* 画像サイズ */
.menuImage {
  width: 80vw;
  /* 画面幅の90% */
  max-width: none;
  /* max-width制限を解除 */
  height: auto;
  z-index: 102;
}

.menu-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 96px;
  color: rgb(255, 255, 255);
  z-index: 102;
}

/* 画像上のボタン */
.menuButton {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
}

.button-inmenu {
  image-rendering: pixelated;
  width: 200px;
  height: 50px;
  background-image: url("../assets/button_menu_1.png");
  background-size: cover;
  background-position: center;
  background-color: transparent;
  padding-bottom: 5px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  border: none;
  /* 文字の色 */
  z-index: 102;
}

.button-inmenu:hover {
  background-image: url("../assets/button_menu_2.png");
}

.button-inmenu:active {
  background-image: url("../assets/button_menu_3.png");
  /* 押した瞬間の色 */
}

.play-chara-content {
  position: absolute;
  gap: 120px;
  top: 40%;
  width: 100%;
  justify-content: center;
  display: flex;
}

.play-image {
  image-rendering: pixelated;
  bottom: 0pt;
  width: 100px;
  height: auto;
}

.play-chara-packet-content {
  width: 50px;
  /* 各プレイヤーごとに固定幅 */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 画像と♥を中央揃え */
}

.combo {
  position: absolute;
  top: -30px;
  /* キャラの上に表示 */
  font-size: 35px;
  font-weight: bold;
  color: rgb(255, 166, 0);
  opacity: 0;
  animation: comboRise 0.8s forwards;
}

@keyframes comboRise {
  0% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateX(-50%) translateY(-20px);
    /* 上に移動 */
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-40px);
    /* さらに上に移動 */
    opacity: 0;
    /* フェードアウト */
  }
}

.success-jump {
  animation: successJump 0.28s cubic-bezier(0.34, 1.56, 0.64, 1);
}

@keyframes successJump {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.fail-shake {
  animation: failShake 0.28s ease;
}

@keyframes failShake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(10px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.player-lives {
  margin-top: 4px;
  /* 画像との隙間 */
}

.player-status {
  position: fixed;
  /* 縦方向は画面基準 */
  top: 40px;
  /* 画面上部から20px */
  font-weight: bold;

  font-size: 48px;
}

.point {
  position: absolute;
  top: 40px;
  left: 50%;
  gap: 200px;
  flex-direction: row;
  display: flex;
  transform: translate(-50%, 0%);
  font-size: 48px;
  font-weight: bold;
  -webkit-text-stroke: 0.02em #000000;
}

.player-0 {
  color: red;
}

.player-1 {
  color: rgb(0, 183, 255);
}

.player-2 {
  color: yellow;
}

.player-3 {
  color: rgb(119, 255, 0);
}
.success-image {
  position: fixed;
  top: 70px;
  width: 100px;
}
.fail-image {
  position: fixed;
  top: 70px;
  width: 100px;
}

.round-text {
  position: absolute;
  bottom: 80px;
  right: 300px;
  gap: 200px;
  display: inline-block;
  font-size: 60px;
  color: rgb(0, 0, 0);
}

.round-text.chara {
  transform: scaleY(0.6);
  color: rgb(145, 121, 69);
}

/* 判定表示エリアのスタイル */
.judge-display-area {
  position: absolute;
  /*親要素(game-container)に対して絶対位置 */
  top: 50px;
  /*画面の下から50pxの位置 */
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  /* 横方向の中央寄せ */
  z-index: 10;
  /*キャラクターより手前に表示*/
  pointer-events: none;
  /* 下の要素のクリックを邪魔したくない場合 */
}

.count {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  z-index: 10;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.02em #000000;
  font-weight: 700;
  pointer-events: none;
}

.calibration {
  position: fixed;
  top: 150px;
  left: 0;
  width: 100%;
  height: 100vh;
  /* transform: translate(-50%, -50%); */
  font-size: 100px;
}

.arrow_up {
  position: absolute;
  /*親要素(game-container)に対して絶対位置 */
  top: 100px;
  /*画面の下から50pxの位置 */
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  /* 横方向の中央寄せ */
  z-index: 10;
  /*キャラクターより手前に表示*/
  pointer-events: none;
  /* 下の要素のクリックを邪魔したくない場合 */
}

.arrow_down {
  position: absolute;
  /*親要素(game-container)に対して絶対位置 */
  bottom: 50px;
  /*画面の下から50pxの位置 */
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  /* 横方向の中央寄せ */
  z-index: 10;
  /*キャラクターより手前に表示*/
  pointer-events: none;
  /* 下の要素のクリックを邪魔したくない場合 */
}

.arrow_right {
  position: absolute;
  /* 親要素(game-container)に対して絶対位置 */
  top: calc(50% + 25px);
  /* 画面の上下中央に配置したい場合 */
  transform: translateY(-50%);
  right: 20px;
  /* 画面の右端から20pxの位置に固定 */

  /* display: flex は中身の画像を並べるなら残してOK */
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10;
  pointer-events: none;
}

.arrow_left {
  position: absolute;
  /*親要素(game-container)に対して絶対位置 */
  top: calc(50% + 25px);
  left: 20px;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  /* 横方向の中央寄せ */
  z-index: 10;
  /*キャラクターより手前に表示*/
  pointer-events: none;
  /* 下の要素のクリックを邪魔したくない場合 */
}

.arrow_upleft {
  position: absolute;
  /*親要素(game-container)に対して絶対位置 */
  top: 100px;
  left: 20px;

  display: flex;
  z-index: 10;
  /*キャラクターより手前に表示*/
  pointer-events: none;
  /* 下の要素のクリックを邪魔したくない場合 */
}

.arrow_upright {
  position: absolute;
  /*親要素(game-container)に対して絶対位置 */
  top: 100px;
  right: 20px;

  display: flex;
  z-index: 10;
  /*キャラクターより手前に表示*/
  pointer-events: none;
  /* 下の要素のクリックを邪魔したくない場合 */
}

.arrow_downleft {
  position: absolute;
  /*親要素(game-container)に対して絶対位置 */
  bottom: 50px;
  left: 20px;

  display: flex;
  z-index: 10;
  /*キャラクターより手前に表示*/
  pointer-events: none;
  /* 下の要素のクリックを邪魔したくない場合 */
}

.arrow_downright {
  position: absolute;
  /*親要素(game-container)に対して絶対位置 */
  bottom: 50px;
  right: 20px;

  display: flex;
  z-index: 10;
  /*キャラクターより手前に表示*/
  pointer-events: none;
  /* 下の要素のクリックを邪魔したくない場合 */
}
.achievement-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
}

/* Result */
.result-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: black;
}

.HighScore {
  position: absolute;
  top: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  /* 中央寄せ */
  align-items: center;
  gap: 16px;
  /* 要素間の余白 */
}

.result-text2 {
  position: absolute;
  left: 50%;
  /* 横方向中央 */
  transform: translateX(-50%);
  /* 自分の幅の半分だけ左にずらす */
  font-size: 48px;
  color: black;
}

.result-text3 {
  position: absolute;
  left: calc(50% + 200px);
  /* ハイスコアの右側に配置。200px はハイスコア幅に応じて調整 */
  top: 0;
  font-size: 24px;
  color: black;
}

.resultWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  position: relative;
  transform: scale(1);
  opacity: 1;
  transition: all 0.3s ease;
  transform-origin: center;
  pointer-events: auto;
}

.resultWrapper {
  display: flex;
  justify-content: center;
  /* 横中央 */
  align-items: center;
  /* 縦中央 */
  height: 100vh;
}
.result-wrapper {
  width: 70vw;
  display: flex;
  width: 30%;
  max-width: none;
  /* max-width制限を解除 */
  height: 50vw;
  z-index: 20;
  transform: translateY(3%);
  height: auto;
  z-index: -10;
}

.resultImage {
  width: 100%;
  height: 100%;

  z-index: -10;
}

.result-table {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 48px;
  color: rgb(116, 72, 18);
}

.result-packet {
  padding: 15px;
}

.result-buttons {
  position: absolute;
  gap: 126px;
  display: flex;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

.result-button {
  border: none;
  /* 縁の色 */
  width: 180px;
  height: 60px;
  background-image: url("../assets/button_Blue_1.png");
  background-size: cover;
  background-position: center;
  background-color: transparent;
  padding-bottom: 5px;
  font-size: 20px;
  padding-bottom: 5pt;
  color: rgb(255, 255, 255);
  /* 文字の色 */
}
.rank-button {
  position: fixed;
  top: 20px;
  right: 20px;
  border: none;
  /* 縁の色 */
  width: 180px;
  height: 60px;
  background-image: url("../assets/button_Blue_1.png");
  background-size: cover;
  background-position: center;
  background-color: transparent;
  padding-bottom: 5px;
  font-size: 20px;
  padding-bottom: 5pt;
  color: rgb(255, 255, 255);
  /* 文字の色 */
}

.rank-wrapper {
  position: fixed;
}
.rankImage {
  image-rendering: pixelated;

  width: 70vw;
  /* 画面幅の90% */
  max-width: none;
  /* max-width制限を解除 */
  height: auto;
  z-index: 102;
}
.rank-text {
  position: absolute; /* ← これが重要 */
  top: 20%;
  left: 20%;
  color: red;
  z-index: 103; /* 画像より大きくする */
}

.result-button:hover {
  background-image: url("../assets/button_Blue_2.png");
}

.result-button:active {
  background-image: url("../assets/button_Blue_3.png");
}

.gt-wrapper {
  bottom: 40px;
  width: 100%;
}

.input-box {
  position: fixed;
  bottom: 40px;
  width: 180px;
  padding: 6px 10px;
  left: 50%;
  transform: translateX(-50%);

  /* フォント */
  font-size: 14px;
  font-family: "Segoe UI", sans-serif;

  /* 色 */
  color: #3b2f2f;
  background: linear-gradient(#fffdf7, #f3e9d2);

  /* 枠 */
  border: 2px solid #a68b5b;
  border-radius: 4px;

  /* 影で高級感 */
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.2),
    0 2px 4px rgba(0, 0, 0, 0.2);

  /* アニメーション */
  transition: all 0.2s ease;
}
.input-box:focus {
  outline: none;
  border-color: #d4b26a;
  box-shadow:
    0 0 6px rgba(212, 178, 106, 0.8),
    inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* プレースホルダー */
.input-box::placeholder {
  color: #a89b7a;
}

.gt-button {
  image-rendering: pixelated;
  position: absolute;
  bottom: 40px;
  right: 50px;
  background-image: url("../assets/button_Gold_1.png");
  background-size: cover;
  background-position: center;
  background-color: transparent;
  /* ボタンの色 */
  border: none;
  font-size: 25px;
  width: 180px;
  height: 60px;
  padding-bottom: 5px;
  color: rgb(0, 0, 0);
}
.gt-button:hover {
  background-image: url("../assets/button_Gold_2.png");
}
