/* all */
* {
  font-family: "DotGothic16", sans-serif;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* ← スクロール禁止 */
}

.game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.back {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/sea.png");
  image-rendering: pixelated;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Title */

.title-title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: black;
}

.title-start-button {
  position: absolute;
  top: 60%;
  left: 50%;
  background-color: rgb(0, 0, 0);
  /* ボタンの色 */
  border: 2px solid #ffffff;
  /* 縁の色 */
  transform: translate(-50%, -50%);
  font-size: 40px;
  padding: 10px 80px;
  color: rgb(255, 255, 255);
  /* 文字の色 */
}

.title-start-button:hover {
  background-color: #252525;
}

.title-start-button:active {
  background-color: #636363;
  /* 押した瞬間の色 */
}

/* Setup */

.setup1 {
  position: absolute;
  gap: 80px;
  display: flex;
  top: 20%;
  left: 50%;
  width: 100vw;
  display: flex;
  justify-content: center;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: black;
}

.setup2 {
  position: absolute;
  gap: 20px;
  display: flex;
  top: 40%;
  left: 50%;
  width: 100vw;
  display: flex;
  justify-content: center;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: black;
}

.setup3 {
  position: absolute;
  gap: 20px;
  display: flex;
  top: 60%;
  left: 50%;
  width: 100vw;
  display: flex;
  justify-content: center;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: black;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgb(255, 255, 255);
  /* ボタンの色 */
  border: 2px solid #aaaaaa;
  /* 縁の色 */
  font-size: 25px;
  padding: 2px 10px;
  color: rgb(0, 0, 0);
  /* 文字の色 */
}

.back-button:hover {
  background-color: #dbdbdb;
}

.back-button:active {
  background-color: #a6a6a6;
  /* 押した瞬間の色 */
}

.setup-start-button {
  position: absolute;
  top: 80%;
  left: 50%;
  background-color: rgb(0, 0, 0);
  /* ボタンの色 */
  border: 2px solid #ffffff;
  /* 縁の色 */
  transform: translate(-50%, -50%);
  font-size: 40px;
  padding: 10px 80px;
  color: rgb(255, 255, 255);
  /* 文字の色 */
}

.setup-start-button:hover {
  background-color: #252525;
}

.setup-start-button:active {
  background-color: #636363;
  /* 押した瞬間の色 */
}

/* SetChara */
.set-chara-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: black;
}

.chara-content {
  position: absolute;
  gap: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.chara-packet-content {
  gap: 50px;
  display: flex;
  flex-direction: column;
  color: black;
}

.iplayer {
  font-size: 30px;
}

.chara-packet {
  gap: 50px;
  align-items: center;
  display: flex;
  color: black;
}

.triangle {
  font-size: 48px;
}

.image {
  image-rendering: pixelated;
  width: 63px;
  height: auto;
}

/* Play */
.menu-button {
  position: absolute;
  image-rendering: pixelated;
  top: 20px;
  left: 20px;
  width: 60px;
  height: auto;
}

.arroww {
  image-rendering: pixelated;
  width: 100px;
}

/* 背景オーバーレイ */
.overlay {
  position: fixed;
  inset: 0;
  /* top:0; right:0; bottom:0; left:0 と同じ */
  background: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  /* 横方向中央 */
  align-items: center;
  /* 縦方向中央 */

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.overlay.open {
  opacity: 1;
  pointer-events: auto;
}

/* 画像＋ボタンのラッパー */
.menuWrapper {
  position: relative;
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.3s ease;
  transform-origin: center;
}

/* 開いたら中央で拡大 */
.overlay.open .menuWrapper {
  transform: scale(1);
  opacity: 1;
}

/* 画像サイズ */
.menuImage {
  width: 80vw;
  /* 画面幅の90% */
  max-width: none;
  /* max-width制限を解除 */
  height: auto;
  z-index: 20;
}

.menu-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 96px;
  color: rgb(255, 255, 255);
  z-index: 20;
}

/* 画像上のボタン */
.menuButton {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-inmenu {
  background-color: rgb(0, 0, 0);
  /* ボタンの色 */
  border: 2px solid #ffffff;
  /* 縁の色 */
  font-size: 20px;
  padding: 10px 50px;
  color: rgb(255, 255, 255);
  /* 文字の色 */
  z-index: 20;
}

.button-inmenu:hover {
  background-color: #202020;
}

.button-inmenu:active {
  background-color: #858585;
  /* 押した瞬間の色 */
}

.play-chara-content {
  position: absolute;
  gap: 120px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.play-chara-packet-content {
  gap: 50px;
  display: flex;
  flex-direction: column;
  color: black;
}

.play-image {
  image-rendering: pixelated;
  width: 100px;
  height: auto;
}

.point {
  position: absolute;
  top: 40px;
  left: 50%;
  gap: 200px;
  flex-direction: row;
  display: flex;
  transform: translate(-50%, 0%);
  font-size: 48px;
  font-weight: bold;
  -webkit-text-stroke: 0.02em #000000;
}
.player-0 {
  color: red;
}
.player-1 {
  color: rgb(0, 183, 255);
}
.player-2 {
  color: yellow;
}
.player-3 {
  color: rgb(119, 255, 0);
}
.round-text {
  position: absolute;
  bottom: 80px;
  right: 300px;
  gap: 200px;
  display: inline-block; /* transformを効かせるために必要 */
  transform: scaleY(0.6);
  font-size: 60px;
  color: rgb(145, 121, 69);
}

/* 判定表示エリアのスタイル */
.judge-display-area {
  position: absolute;
  /*親要素(game-container)に対して絶対位置 */
  top: 50px;
  /*画面の下から50pxの位置 */
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  /* 横方向の中央寄せ */
  z-index: 10;
  /*キャラクターより手前に表示*/
  pointer-events: none;
  /* 下の要素のクリックを邪魔したくない場合 */
}

.count {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  z-index: 10;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.02em #000000;
  font-weight: 700;
  pointer-events: none;
}

.arrow_up {
  position: absolute;
  /*親要素(game-container)に対して絶対位置 */
  top: 100px;
  /*画面の下から50pxの位置 */
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  /* 横方向の中央寄せ */
  z-index: 10;
  /*キャラクターより手前に表示*/
  pointer-events: none;
  /* 下の要素のクリックを邪魔したくない場合 */
}

.arrow_down {
  position: absolute;
  /*親要素(game-container)に対して絶対位置 */
  bottom: 50px;
  /*画面の下から50pxの位置 */
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  /* 横方向の中央寄せ */
  z-index: 10;
  /*キャラクターより手前に表示*/
  pointer-events: none;
  /* 下の要素のクリックを邪魔したくない場合 */
}

.arrow_right {
  position: absolute;
  /* 親要素(game-container)に対して絶対位置 */
  top: calc(50% + 25px);
  /* 画面の上下中央に配置したい場合 */
  transform: translateY(-50%);
  right: 20px;
  /* 画面の右端から20pxの位置に固定 */

  /* display: flex は中身の画像を並べるなら残してOK */
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10;
  pointer-events: none;
}

.arrow_left {
  position: absolute;
  /*親要素(game-container)に対して絶対位置 */
  top: calc(50% + 25px);
  left: 20px;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  /* 横方向の中央寄せ */
  z-index: 10;
  /*キャラクターより手前に表示*/
  pointer-events: none;
  /* 下の要素のクリックを邪魔したくない場合 */
}

.arrow_upleft {
  position: absolute;
  /*親要素(game-container)に対して絶対位置 */
  top: 100px;
  left: 20px;

  display: flex;
  z-index: 10;
  /*キャラクターより手前に表示*/
  pointer-events: none;
  /* 下の要素のクリックを邪魔したくない場合 */
}

.arrow_upright {
  position: absolute;
  /*親要素(game-container)に対して絶対位置 */
  top: 100px;
  right: 20px;

  display: flex;
  z-index: 10;
  /*キャラクターより手前に表示*/
  pointer-events: none;
  /* 下の要素のクリックを邪魔したくない場合 */
}

.arrow_downleft {
  position: absolute;
  /*親要素(game-container)に対して絶対位置 */
  bottom: 50px;
  left: 20px;

  display: flex;
  z-index: 10;
  /*キャラクターより手前に表示*/
  pointer-events: none;
  /* 下の要素のクリックを邪魔したくない場合 */
}

.arrow_downright {
  position: absolute;
  /*親要素(game-container)に対して絶対位置 */
  bottom: 50px;
  right: 20px;

  display: flex;
  z-index: 10;
  /*キャラクターより手前に表示*/
  pointer-events: none;
  /* 下の要素のクリックを邪魔したくない場合 */
}

/* Result */
.result-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: black;
}

.result-table {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 48px;
  color: black;
}

.result-packet {
  padding: 15px;
}

.result-buttons {
  position: absolute;
  gap: 126px;
  display: flex;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

.result-button {
  background-color: rgb(55, 155, 191);
  /* ボタンの色 */
  border: 2px solid #ffffff;
  /* 縁の色 */
  font-size: 20px;
  padding: 10px 10px;
  color: rgb(255, 255, 255);
  /* 文字の色 */
}

.result-button:hover {
  background-color: #7ed6e5;
}

.result-button:active {
  background-color: #ffffff;
  /* 押した瞬間の色 */
}
